:root {
    color-scheme: light dark;
    --text-color: #000;
    --black: #000;
    --footer: #fafafa;
    --white: white;
    --background: white;
    --opposite: #1e1e1e;
    --semi-white: #eee;
    --blue: #1277EB;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --black: #fff;
        --footer: #000;
        --white: #000;
        --background: #1e1e1e;
        --opposite: #fff;
        --semi-white: #333;
    }
    header .logo {
        background: url("../img/logo-white.svg") !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
}

@media (prefers-color-scheme: dark) and (max-width: 960px) {
    article {
        .text {
            background: rgba(0, 0, 0, 0.7) !important;
        }
    }
}

body {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color);
    background: var(--background);
}

html {
    overflow-x: hidden
}

header {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .text {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            background: url("../img/logo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 960px;
            height: 125px;
        }

        h1 {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 76px;
            text-align: left;
            max-width: 960px;
        }

        .description {
            max-width: 960px;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: left;
        }
    }

    .illustration {
        width: 500px;
        height: 500px;
        background: url("../img/hero.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

article {
    height: auto;

    .figure {
        position: relative;
        display: flex;
        flex-direction: column;

        .step {
            width: 57vw;
            height: 100vh;
        }

        #step-1 {
            background-image: url("../img/step1.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }

        #step-2 {
            background-image: url("../img/step2.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }

        #step-2-5 {
            background-image: url("../img/step2-5.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }

        #step-3 {
            background-image: url("../img/step3.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }

        #step-4 {
            background-image: url("../img/step4.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.text-container {
    height: calc(5*100vh);
    position: absolute;
    top: 100vh;
    left: 60vw;
    z-index: auto;

    .text {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
        width: 450px;
        max-width: calc(40vw - 20px);

        h1 {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 76px;
        }

        .bold {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        p {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
    }
}

.animation {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 76px;
        text-align: center;
    }

    .bold {
        max-width: 460px;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    .app {
        margin-top: 10px;

        canvas {
            width: 400px;
            height: 400px;
        }

        .selector {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 396px;
            padding: 0 2px;
            height: 32px;
            background: #c4c4c4;
            border-radius: 5px;
            color: black;

            div {
                width: 120px;
                height: 28px;
                text-align: center;
                line-height: 28px;
                transition: 100ms ease-in-out;
            }

            .active {
                background: #ffffff;
                border-radius: 5px;
            }
        }

        .panel {
            height: 400px;

            .selector {
                margin-top: 0px;
            }

            .row {
                width: 396px;
                padding: 0 2px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 13px;

                .value {
                    text-align: right;
                    color: #4c4c4c;

                    &.show {
                        color: #007aff;
                        cursor: pointer;
                    }
                }
            }
        }

        .control {
            height: 400px;

            .row {
                width: 396px;
                padding: 0 2px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 13px;

                .value {
                    text-align: right;
                    color: #4c4c4c;

                    &.show {
                        color: #007aff;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    footer {
        height: 300px;
        text-align: center;
        font-family: SF Pro Display;
        font-style: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        a {
            color: inherit;
        }

        small {
            opacity: .4;
        }
    }

    .scientist {
        position: absolute;
        bottom: calc(-6*100vh);
        left: 0;
        background: url("../img/scientist.svg");
        background-size: contain;
        background-position: bottom left;
        background-repeat: no-repeat;
        height: 75vh;
        width: 50vw;
        z-index: -10;
    }

    .sitting {
        position: absolute;
        bottom: calc(-6*100vh);
        right: 0;
        background: url("../img/sitting.svg");
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        height: 60vh;
        width: 50vw;
        z-index: -10;
    }
}

@media (max-width: 1470px) {
    article {
        margin-top: 500px;
    }

    .text-container {
        top: calc(100vh + 500px);
    }

    .animation {

        .scientist,
        .sitting {
            bottom: calc(-6*100vh - 500px);
        }
    }
}

@media (max-width: 960px) {
    header {
        .text {
            .logo {
                max-width: 500px !important;
                width: 90vw;
            }

            h1 {
                font-size: 36px !important;
                line-height: 45px !important;
                margin: 0 !important;
                margin-bottom: 10px !important;
                max-width: 500px !important;
                width: 90vw;
            }

            .description {
                font-size: 12px !important;
                line-height: 16px !important;
                max-width: 500px !important;
                width: 90vw;
                text-align: justify !important;
            }
        }
    }

    article {
        padding-bottom: 50vh;

        .figure {
            .step {
                width: 90vw;
            }
        }

        .text-container {
            position: absolute;
            top: calc(100vh + 500px);
            left: 0;
            height: calc(5*100vh + 50vh);

            .text {
                position: -webkit-sticky;
                position: sticky;
                top: 40vh;
                margin-left: 10px;
                width: calc(100vw - 60px);
                height: calc(60vh - 40px);
                max-width: 100vw;
                background: rgba(232, 232, 232, 0.7);
                -webkit-backdrop-filter: saturate(180%) blur(10px);
                backdrop-filter: saturate(180%) blur(10px);

                border-radius: 25px;
                padding: 15px;

                h1 {
                    line-height: unset;
                }

                .bold {
                    font-size: 18px;
                    line-height: 21px;
                }

                p {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    .animation {
        justify-content: start !important;

        .scientist,
        .sitting {
            bottom: calc(-6*100vh - 500px - 50vh - 500px);
        }

        .bold {
            width: 100vw !important;
            max-width: 350px !important;
            font-size: 16px !important;
            line-height: 21px !important;
        }

        .app {
            canvas {
                width: 300px;
                height: 300px;
            }

            .selector {
                width: 296px;
            }

            .panel {
                height: 300px;

                .row {
                    width: 296px;
                }
            }

            .control {
                height: 300px;

                .row {
                    width: 296px;
                }
            }
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    color: black;

    .infobox {
        width: 100vw;
        height: 100vh;
        max-width: 450px;
        height: 600px;
        background: white;
        border-radius: 15px;

        .cross {
            background: url("../img/cross.svg");
            background-size: cover;
            position: relative;
            top: 22px;
            left: 15px;
            width: 25px;
            height: 25px;
            z-index: 10;
            cursor: pointer;
        }

        .title {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            position: relative;
            top: -15px;
        }

        .container {
            overflow-y: scroll;
            margin-left: 10px;
            width: calc(100vw - 20px);
            max-width: calc(450px - 20px);
            height: calc(100vh - 69px);
            max-height: calc(600px - 69px);

            .row {
                padding: 0 2px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 13px;

                .value {
                    text-align: right;
                    color: #4c4c4c;
                }
            }
        }
    }
}