<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{page.title}}</title>
	<meta name="description" content="{{page.description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<!-- stylesheets -->
	<link rel="stylesheet" href="https://unpkg.com/normalize.css">
	<link rel="stylesheet" href="{{site.url}}/css/main.css">
</head>

<body>
	<!--[if lte IE 9]
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

	{{content}}

	<script src="https://cdn.jsdelivr.net/npm/glottologist@2.0.3/dist/glottologist.min.js"></script>
	<script src="{{site.url}}/js/locales.js"></script>

	<script defer src="{{site.url}}/js/landing.js"></script>

	<!-- Sven Rech's work -->
	<script defer src="https://cdn.jsdelivr.net/npm/sjcl@1.0.8/sjcl.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/sjcl@1.0.8/core/codecBytes.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/sjcl@1.0.8/core/ctr.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/sjcl@1.0.8/core/hkdf.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
	<script defer src="{{site.url}}/js/dp3t.js"></script>
	<script defer src="{{site.url}}/js/ContactTracing.js"></script>

	<!-- Animation -->
	<script defer src="{{site.url}}/js/functions.js"></script>

	<!-- Async ressources -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sf-font@1.0.0/stylesheet.min.css">
	<script async src="https://cdn.jsdelivr.net/npm/lunar-icons@2.1.2/dist/lunar-icons.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/shepherd.js@7.1.5/dist/js/shepherd.min.js"></script>
	<script defer src="{{site.url}}/js/tutorial.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@7.1.5/dist/css/shepherd.css">
</body>

</html>
